.App-background{
  background-color: hsla(176, 70%, 77%, 0.86);
  display: flex;
  width: 100vw; 
  height: 100vh; 
  right: 0px;
  left:0px;
  position:fixed;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.35em;
  color:white
}


/*Navigation BARRRRRR CSS*/

.NavBar{
  background-color: hsl(189, 97%, 29%);
  display: flex;
  height:7%;
  align-items: center;
  max-width: auto;
  width: 100%; /* Full width */
  padding:0 30px; /* Adds spacing on left and right */
  position: fixed; /* Fix at top */
  top: 0;
  right:0;
}
.NavBar .NavItems{
  margin-left: auto; 
  margin-right: 0;
}
.NavBar .Nav-Links{

  text-decoration: none;
  padding: 10px;
  color:white;
  border-radius: 5%;
  margin:5px;
}
.NavBar .Nav-Links:hover{
  background-color: hsl(189, 97%, 35%);
}
/*SHOWING THE GRAPH SCREEN*/
.ShowPlot-body{
  margin-top: 90px;
  margin-left:50px;
  background-color: hsla(176, 65%, 50%, 0.86);
  border-radius: 25px;
  height:70%;
  width: calc(100vw - 350px);
  margin-right:20px;
}

.ShowPlot-body h1{
  margin-left:40px;
  padding-top: 32px;
  padding-bottom: 10px;
  height:2%;
  font-size: 20px;
  font-weight: bold;
}
hr{
  border-top:3px solid  hsla(176, 65%, 50%, 0.86);
}

/*Your files component items*/
.YourFiles{
  margin-top: 90px;
  margin-left:20px;
  width: 300px;
  background-color: hsla(176, 65%, 50%, 0.86);
  border-radius: 25px;
  height:70%;
}

.YourFiles h1{
  margin-left:40px;
  margin-bottom: 21px;
  padding-top: 20px;
  height:2%;
  font-size: 20px;
  font-weight: bold;
}

.YourFiles-Buttons{
  display:flex;
  flex-direction: column;
  align-items: center;

}
.GetFileNames-btn{
  background-color: hsla(176, 70%, 77%, 0.86);
  border:none;
  border-radius: 25px;
  margin-top:10px;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:white;
}
.GetFileNames-btn:hover{
  cursor: pointer;
  background-color: hsl(176, 78%, 80%);
}

/*FILE UPLOAD BUTTON*/
.UltraCoolButtons{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Container-UploadFile{
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 500px;
  margin-bottom:20px;
  height:50px;
  background-color: hsl(189, 97%, 29%);
  border-radius: 25px;
}
.UploadFileText{
  border-radius:25px;
  text-decoration: none;
  color:hsla(0, 0%, 100%, 0.86);
  font-size:1.5em;
  margin-right: 50px;
}

.Container-UploadFile:hover{
  cursor:pointer;
  background-color: hsla(189, 97%, 29%, 0.626);
}
.File-Information{
  font-size:10px;
}

/*poooop up*/
.popup{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  display:flex;
  justify-content: center;
  align-items:center;

}

.popup-inner{
  border-radius: 20px;
  position:relative;
  padding:32px;
  width:100%;
  max-width:640px;
  background-color: hsla(176, 65%, 50%, 0.86);
}
.popup-inner h1{
  padding-bottom:10px;
  font-size: 50px;
}
.popup-inner p{
  padding-bottom:10px;
  font-size: 25px;
}
.popup-inner .close-btn{
  position:absolute;
  bottom:16px;
  right:16px;
  border:none;
  padding:10px;
  border-radius: 10px;
  background-color: hsla(176, 74%, 40%, 0.86);
  color:white;
}
.popup-inner .close-btn:hover{
  cursor: pointer;
   background-color: hsla(176, 70%, 77%, 0.86);
}
.popup-inner .upload-btn{
  position:absolute;
  bottom:16px;
  left:16px;
  border:none;
  padding:10px;
  border-radius: 10px;
  color:white;
  background-color: hsla(176, 74%, 40%, 0.86);
}
.popup-inner .upload-btn:hover{
  cursor: pointer;
  background-color: hsla(176, 70%, 77%, 0.86);
}
.popup-Buttons{
  padding-top:20px;
}